.booking {
  position: relative;
  min-height: 555px;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    min-height: 805px;
    padding-top: 88px;
    padding-bottom: 70px;
  }

  @include vp-767 {
    min-height: 760px;
    padding-top: 59px;
    padding-bottom: 50px;
  }
}

.booking__inner {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;

  @include vp-1023 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.booking__form {
  display: flex;
  flex-direction: column;
  width: 403px;
  max-width: 50%;
  min-height: 455px;
  padding: 43px 50px;
  background-color: $color-default-black;
  box-shadow: 0 4px 45px $color-default-black--light;

  @include vp-1023 {
    max-width: 403px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 403px;
    padding: 35px 30px 40px 30px;
  }
}

.booking__form h3 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: $fz-modarate;
  line-height: $lh-interium;
  font-weight: $fw-medium;
  color: $color-default-white;

  @include vp-767 {
    line-height: $lh-pre-interium;
    text-align: center;
  }
}

.booking__form input {
  min-height: 40px;
  margin: 0;
  margin-bottom: 20px;
  padding: 13px 16px 9px 16px;
  font-size: $fz-normal;
  line-height: $lh-pre-medium;
  color: $color-default-black;
  border: none;
  background-color: $color-default-white;
  appearance: textfield;
  cursor: text;

  &:hover,
  &:focus {
    background-color: $color-quartz;
  }

  &::placeholder {
    font-size: $fz-normal;
    line-height: $lh-pre-medium;
    color: $color-default-black--dark;
  }
}

input[type="checkbox"] + label {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 23px;
  font-size: $fz-little;
  line-height: $lh-small;
  color: $color-default-white;
  cursor: pointer;

  @include vp-767 {
    max-width: 180px;
    margin-bottom: 26px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 28px;
    line-height: $fz-small;
  }
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-default-white;
  content: "";

  @include vp-767 {
    width: 20px;
    height: 20px;
  }
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background-color: $color-quartz;
  border: 3px solid $color-primary;
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 7px;
  background-image: url("../img/svg/form-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";

  @include vp-767 {
    top: 7px;
    left: 5px;
  }
}

.booking button {
  border: none;

  @include vp-767 {
    padding-top: 13px;
  }
}

.booking__info {
  align-self: center;
  width: 50%;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
    padding: 0 30px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 35px;
    padding: 0 15px;
  }
}

.booking h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: $fz-super-large;
  line-height: $lh-pre-huge;
  font-weight: $fw-bold;

  @include vp-1023 {
    max-width: 70%;
    margin-bottom: 13px;
    font-size: $fz-pre-large;
    line-height: $lh-super-large;
  }

  @include vp-767 {
    max-width: 80%;
    font-size: $fz-interium;
    line-height: $lh-super-interium;
  }
}

.booking p {
  max-width: 360px;
  margin: 0;
  padding: 0;
  font-size: $fz-modarate;
  line-height: $lh-interium;
  transform: translateY(-8px);

  @include vp-767 {
    transform: none;
    font-size: $fz-default;
    line-height: $lh-medium;
  }
}

.booking img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $color-quartz;
}
