.btn {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 10px 12px;
  text-align: center;
  font-family: inherit;
  font-size: $fz-normal;
  line-height: $lh-pre-medium;
  font-weight: $fw-semibold;
  color: $color-default-black;
  background-color: $color-default-white;
  transition: background-color $trans-default;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-quartz;
  }

  &:active {
    color: $color-quartz;
    background-color: $color-default-white;
  }

  &:disabled {
    background-color: $color-quartz;
    pointer-events: none;
  }
}
