.guide {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0 94px 0;
  }

  @include vp-767 {
    padding: 58px 0 65px 0;
  }
}

.guide__inner {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    display: block;
  }
}

.guide__info {
  flex: 1 1 50%;
  margin-right: 40px;

  @include vp-1023 {
    margin-top: -10px;
    margin-right: 30px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 33px;
    margin-right: 0;
  }
}

.guide h2 {
  margin: 0;
  margin-top: 55px;
  margin-bottom: 25px;
  padding: 0;
  padding-right: 25px;
  font-size: $fz-big;
  line-height: $lh-pre-large;
  font-weight: $fw-semibold;

  @include vp-1023 {
    max-width: 210px;
    margin-top: 0;
    margin-bottom: 16px;
    padding-right: 0;
    font-size: $fz-pre-big;
    line-height: $lh-big;
  }

  @include vp-767 {
    max-width: 70%;
    font-size: $fz-interium;
    line-height: $lh-pre-big;
  }
}

.guide p {
  margin: 0;
  padding: 0;
  padding-right: 25px;

  @include vp-1023 {
    padding-right: 0;
  }
}

.guide__photo-inner {
  flex: 1 1 50%;
  height: 301px;

  @include vp-1023 {
    height: 264px;
  }

  @include vp-767 {
    position: relative;
    min-height: 186px;
    height: 186px;
    padding: 0 0 58% 0;
    overflow: hidden;
  }
}

.guide img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center left;
  background-color: $color-quartz;

  @include vp-1023 {
    object-position: center center;
  }

  @include vp-767 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
  }
}
