.intro {
  position: relative;
  min-height: 650px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;

  @include vp-1023 {
    min-height: 638px;
    box-shadow: none;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.intro__inner {
  position: relative;
  width: 100%;
  min-height: 650px;
  z-index: 5;

  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.intro__info {
  position: absolute;
  top: 41.5%;
  left: 95px;
  min-width: 100%;
  padding: 0 103px;
  z-index: 5;

  @include vp-1023 {
    padding: 0 45px;
    top: 42%;
    left: 0;
  }

  @include vp-767 {
    padding: 0 15px;
    top: 35%;
  }
}

.intro h2 {
  max-width: 850px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-right: 30px;
  font-size: $fz-huge;
  line-height: $lh-huge;
  font-weight: $fw-bold;
  color: $color-default-white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin-bottom: 14px;
    padding-right: 0;
    font-size: $fz-pre-huge;
    line-height: $lh-pre-huge;
    text-shadow: none;
  }

  @include vp-767 {
    max-width: 80%;
    margin-bottom: 12px;
    font-size: $fz-large;
    line-height: $lh-large;
  }
}

.intro p {
  max-width: 600px;
  margin: 0;
  padding: 0;
  font-size: $fz-pre-interium;
  line-height: $lh-default;
  font-weight: $fw-normal;
  color: $color-default-white;

  @include vp-1023 {
    font-size: $fz-modarate;
    line-height: $lh-pre-medium;
  }

  @include vp-767 {
    max-width: 80%;
    font-size: $fz-default;
    line-height: $lh-medium;
  }
}

.intro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
