.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    padding-top: 33px;
    background-color: $color-default-white;
  }
}

.main-navigation[data-state="is-open"] ul {
  @include vp-767 {
    display: flex;
  }
}

.main-navigation li {
  margin-left: 33px;

  @include vp-1023 {
    margin-left: 24px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.main-navigation a {
  display: block;
  margin: 0;
  padding: 10px 0 12px 0;
  line-height: $lh-modarate;
  font-weight: $fw-medium;
  color: $color-default-white;
  list-style: none;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:active {
    color: $color-primary--medium;
  }

  @include vp-1023 {
    padding-top: 11px;
    font-size: $fz-normal;
    line-height: $lh-pre-modarate;
  }

  @include vp-767 {
    padding: 10px 10px 8px 10px;
    font-size: $fz-modarate;
    line-height: $lh-medium;
    color: $color-default-black;
  }
}

.main-navigation__toggle {
  display: none;

  @include vp-767 {
    position: relative;
    display: block;
    width: 24px;
    height: 22px;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    z-index: 20;
    cursor: pointer;
  }
}

.main-navigation__toggle:hover .main-navigation__svg,
.main-navigation__toggle:focus .main-navigation__svg,
.main-navigation__toggle:hover .main-navigation__icon--open,
.main-navigation__toggle:focus .main-navigation__icon--open {
  stroke: $color-primary;
}

.main-navigation__toggle:active .main-navigation__svg,
.main-navigation__toggle:active .main-navigation__icon--open {
  stroke: $color-primary--medium;
}

.main-navigation__svg {
  @include vp-767 {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 22px;
    transform: translateY(-50%);
    stroke: $color-default-white;
  }
}

.main-navigation__icon--open {
  display: none;
  width: 13px;
  height: 13px;
  stroke: $color-default-black;
}

.main-navigation__icon--close {
  width: 24px;
  height: 22px;
}

.main-navigation[data-state="is-open"] .main-navigation__svg {
  @include vp-767 {
    width: 13px;
    height: 13px;
  }
}

.main-navigation[data-state="is-open"] .main-navigation__icon--open {
  @include vp-767 {
    display: block;
  }
}

.main-navigation[data-state="is-open"] .main-navigation__icon--close {
  @include vp-767 {
    display: none;
  }
}
