// .product-card {
//   position: relative;
//   min-width: 240px;
//   height: 386px;
//   overflow: hidden;
//   touch-action: manipulation;
//   cursor: pointer;

//   &::after {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     width: 100%;
//     height: 100%;
//     background: transparent;
//     background-image: $black-to-bottom;
//     content: "";
//     opacity: 1;
//   }
// }

// .product-card__inner {
//   position: absolute;
//   top: 308px;
//   left: 0;
//   right: 0;
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   padding: 30px;
//   z-index: 10;

//   @include vp-1023 {
//     top: 298px;
//     padding: 35px;
//   }

//   @include vp-767 {
//     top: 317px;
//     padding: 25px;
//   }
// }

// .product-card__info {
//   display: none;
//   flex-direction: column;
//   height: 100%;
// }

// .product-card:hover .product-card__inner,
// .product-card:focus .product-card__inner {
//   top: 0;
//   padding: 28px 25px 35px 25px;
//   background-color: $color-default-black;
//   box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

//   @include vp-1023 {
//     padding: 30px 35px 35px 35px;
//   }

//   @include vp-767 {
//     padding: 30px 25px 35px 25px;
//   }
// }

// .product-card:hover .product-card__info,
// .product-card:focus .product-card__info {
//   display: flex;
//   overflow: auto;
// }

// .product-card img {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center;
//   background-color: $color-quartz;
// }

// .product-card h2 {
//   margin: 0;
//   margin-bottom: 13px;
//   text-align: left;
//   font-size: $fz-modarate;
//   line-height: $lh-interium;
//   font-weight: $fw-medium;
//   color: $color-default-white;

//   @include vp-1023 {
//     margin-bottom: 12px;
//     font-size: $fz-modarate;
//     line-height: $lh-interium;
//   }

//   @include vp-767 {
//     margin-bottom: 12px;
//     font-size: $fz-modarate;
//     line-height: $lh-interium;
//   }
// }

// .product-card dl {
//   margin: 0;
//   padding: 0;
//   overflow-y: auto;
//   list-style: none;
// }

// .product-card dt {
//   display: block;
//   margin: 0;
//   margin-bottom: 2px;
//   padding: 0;
//   font-size: $fz-normal;
//   line-height: $lh-modarate;
//   font-weight: $fw-medium;
//   color: $color-default-white;
// }

// .product-card dd {
//   display: block;
//   margin: 0;
//   margin-bottom: 10px;
//   padding: 0;
//   font-size: $fz-normal;
//   line-height: $lh-modarate;
//   font-weight: $fw-normal;
//   color: $color-default-white;
// }

// .product-card a {
//   margin-top: auto;
//   text-decoration: none;
//   order: 1;
// }

//--------------

.product-card {
  position: relative;
  min-width: 240px;
  height: 386px;
  overflow: hidden;
  touch-action: manipulation;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    background-image: $black-to-bottom;
    content: "";
    opacity: 1;
  }
}

.product-card__inner {
  position: absolute;
  top: 307px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  z-index: 10;

  @include vp-1023 {
    top: 298px;
    padding: 35px;
  }

  @include vp-767 {
    top: 317px;
    padding: 25px;
  }
}

.product-card__info {
  flex-direction: column;
  height: 100%;
  opacity: 0;
}

.product-card:hover .product-card__inner,
.product-card:focus .product-card__inner,
.product-card:focus-within .product-card__inner {
  top: 0;
  padding: 28px 25px 35px 25px;
  background-color: $color-default-black;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  @include vp-1023 {
    padding: 30px 35px 35px 35px;
  }

  @include vp-767 {
    padding: 30px 25px 35px 25px;
  }
}

.product-card:hover .product-card__info,
.product-card:focus .product-card__info,
.product-card:focus-within .product-card__info {
  display: flex;
  overflow: auto;
  opacity: 1;
}

.product-card img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-quartz;
}

.product-card h2 {
  margin: 0;
  margin-bottom: 13px;
  text-align: left;
  font-size: $fz-modarate;
  line-height: $lh-interium;
  font-weight: $fw-medium;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 12px;
    font-size: $fz-modarate;
    line-height: $lh-interium;
  }

  @include vp-767 {
    margin-bottom: 12px;
    font-size: $fz-modarate;
    line-height: $lh-interium;
  }
}

.product-card dl {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.product-card dt {
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-size: $fz-normal;
  line-height: $lh-modarate;
  font-weight: $fw-medium;
  color: $color-default-white;
}

.product-card dd {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: $fz-normal;
  line-height: $lh-modarate;
  font-weight: $fw-normal;
  color: $color-default-white;
}

.product-card a {
  margin-top: auto;
  text-decoration: none;
  order: 1;
}
